<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="bodyContainer">
    
    <div class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/forgot-password" routerLinkActive="active">Forgot Password?</a></li>
        </ul>
    </div>
    <div class="header">
      <header><h1>Welcome to Assingment</h1></header>
    </div>
    <router-outlet></router-outlet>
  </div>
</body>
</html>