<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
    <hr>
  <div class="bodyContainer">
    
    <div class="header">
      <header><h1>Welcome  Home</h1></header>
    </div>
    <div class="imgContainer">
        <img src="/Angular/src/app/image/car1.jpg" alt="Image 1">
        <img src="/Angular/src/app/image/car2.jpg" alt="Image 2">
        <img src="/Angular/src/app/image/car3.jpg" alt="Image 3">
        <img src="/Angular/src/app/image/car4.jpg" alt="Image 4">
        <img src="/Angular/src/app/image/car5.jpg" alt="Image 5">
        <img src="/Angular/src/app/image/car6.jpg" alt="Image 6">
        <img  id="last" src="/Angular/src/app/image/car7.jpg" alt="Image 7">
    </div>

  </div>
</body>
</html>