<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="bodyContainer">
        
        <div class="formContainer">
            <form>
                <div class="heading">
            <h1>Forgot Password</h1>
        </div>
                <div class="inputContainer">
                    <input type="password" id="password" placeholder="Enter new password">
                    <input type="password" id="password" placeholder="Enter Comform password">
                    <button>Change Password</button>
                </div>
            </form>
        </div>
        <div class="orContainer">
            <p>Or</p>
        <div class="link"><p>Back to Login?</p>
            <a href="/login">Login</a></div>
        </div>
    </div>
    
</body>
</html>